@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --primary: 24 100% 50%;
    --primary-foreground: 0 0% 100%;
    --card: 0 0% 3%;
    --card-foreground: 0 0% 100%;
    --accent: 24 100% 97%;
  }
}

@layer utilities {
  .clip-hex {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  
  .glow {
    box-shadow: 0 0 30px 5px hsl(var(--primary) / 0.2);
  }
  
  .text-glow {
    text-shadow: 0 0 10px hsl(var(--primary) / 0.5);
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--card-foreground));
}

.animate-pulse-glow {
  animation: pulse-glow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse-glow {
  0%, 100% {
    opacity: 1;
    filter: brightness(1);
  }
  50% {
    opacity: .8;
    filter: brightness(1.2);
  }
}